/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}





.collapsing {
    -webkit-transition: none;
    transition: 0.1s;
    display: unset;
}
.produtosList{
    background-color: white;
}
.modal{
    height:unset;
}
.custom-modal{
    width:80%;
}
    .custom-modal > .row {
        min-height: 500px;
        margin: 0;
    }
.produto-modal-bottom-row{
    position:absolute;
    width:100%;
    bottom:0;
}
.produto-remove-button {
    color: #ea6363;
    cursor: pointer;
    position: absolute;
    left: 8px;
}
.datepicker-controls .select-month input {
    width: 90px;
}
.btn:active {
    background-color: unset;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
    .btn-danger:hover {
        color: #fff;
        background-color: #f55968;
        border-color: #dc3545;
    }
    .btn-danger:active {
        color: #fff;
        background-color: #b1333f;
        border-color: #dc3545;
    }
.pagination li a{
    font-size:unset;
}
.nav-link{
    padding-right:1rem!important;
    padding-left:1rem!important;
}
body .container{
    width:100%;
}
table{
    width:100%!important;
}
    table.dataTable thead th{
        padding-left:20px;
    }
    table.dataTable > thead .sorting::before, table.dataTable > thead .sorting::after,
    table.dataTable > thead .sorting_asc::before, table.dataTable > thead .sorting_asc::after,
    table.dataTable > thead .sorting_desc::before, table.dataTable > thead .sorting_desc::after {
        content: none;
    }
    table.dataTable thead .sorting_asc {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
.navbar {
    background-color: #2e6ca1;
    color: white;
    min-height: 80px;
    height: unset;
}
    .navbar a:hover {
        color: #f6eb9b;
    }